
<!-- <input [(ngModel)]="query" (ngModelChange)="findUser(query)" placeholder="Search for users">

<table>
  
    <tr>
      <th *ngFor="let el of tbHeaders">{{el}}</th>
    </tr>
  
    <tr *ngFor="let user of usersDisplay" (click) = loadAllData(user)>
      <td>
        {{ user.login }}
      </td> -->
      <!-- <td>
        {{ user.id }}
      </td>
      <td>
        {{ user.node_id }}
      </td>
    </tr>
  </table> -->

<select id="product" (change)="onProductChanged($event)">
    <option>--- Please Select ---</option>
    <option *ngFor="let product of products" [value]="product.id"> {{ product.displayName }} </option>
</select>
  
  <!-- <div class=fix-right *ngIf="user.name">
    
  
    <div class=text-right>
        <button (click) = closeSideBar()>Close</button>
    </div>
    
    <h2>All information for {{user.name}}</h2>
    <p>Name: {{user.name}}</p>
    <p>URL: {{user.url}}</p>
    <p>Date of Birth: {{user.dob}}</p>
    <p>Reg Date: {{user.date}}</p>
    <p>Course: {{user.course}}</p>
  </div>
   -->
  

